{% extends "base.html" %} 
{% load static %} 
{% block scripts %}
<link rel="stylesheet" href="{% static 'css/cursos.css' %}" /> 
{% endblock %} 

{% block conteudo %}
<h1>{{ curso.nome }}</h1>
<section class="sobre">
	<h2>Sobre o Curso</h2>
	<p>
		{{ curso.descricao }}
	</p>
</section>
<section class="informacoes">
	<h2>Informações Adicionais</h2>

	<h3>Duração</h3>
	<p>{{ curso.duracao }} semestres</p>

	<a href="disciplinas">Grade Curricular</a>
</section>
{% endblock %}