{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Faculdade Impacta de Tecnologia</title>
	<link rel="icon" href="{% static 'favicon.ico' %}" />
	<meta name="viewport" content="initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/site.css' %}" />
    <script src="{% static 'scripts/script.js' %}"></script>
    {% block scripts %}    
    {% endblock  %}
</head>
<body>
	<header>
		<a href="{% url 'home' %}">
			<img src="{% static 'imagens/logo.png' %}" width="250px" />
		</a>
		<div class="titulo">
			<h1>Faculdade Impacta de Tecnologia</h1>
			<h2>A TECNOLOGIA MUDA O SEU FUTURO</h2>
		</div>
		<nav>
			<h3>Navegue pelo nosso site</h3>
			<ul>
				<li><a href="{% url 'cursos:lista' %}" >Cursos</a></li>
				<li><a href="{% url 'premios' %}" >Prêmios</a></li>
				<li><a href="eventos.html" >Eventos</a></li>
				{% if user.is_authenticated %}
					<li>Olá {{ user }}</li>
					<li><a href="{% url 'contas:sair' %}" >Sair</a></li>
				{% else %}
					<li><a href="{% url 'contas:entrar' %}" >Entrar</a></li>
					<li><a href="{% url 'contas:registrar' %}" >Registrar</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>
	<main>
		{% block conteudo %}
        {% endblock %}
	</main>
	<footer>
		<strong>11 3254-8300 - Impacta 2018 - Todos os direitos reservados.</strong>
	</footer>
</body>
</html>
